@import "~@flaticon/flaticon-uicons/css/all/all";
 @import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;

}

*{
    
        padding: 0;
        margin:0;
        box-sizing: border-box;
}

:root{
      --primary:black;
      --secondary:rgb(154, 154, 154);
      --red:#f44336;
      --green:#20bf55;

      --w400:400;
      --w500:500;
      --w600:600;
      --w700:700;
      --w800:800;

      --body:16px;
      --subheading:18px;
      --heading:28px;
}