.header{
    position: sticky;
    top:0;
    z-index: 1;
}

.heading{
   font-size:var(--heading);
   font-weight: var(--w700);
   letter-spacing: 1px;
   text-align: center;
}

.date{
    text-align: center;
    font-size: var(--subheading);
    color:var(--secondary);
    margin:8px 0;
}
