

.searchbar{
    position: relative;
    margin-top:20px;
    display: flex;
    
}
.input{
    width: 100%;
    font-size:18px;
    outline:none;
    border:none;
    border-bottom: 2px solid #ddd;
    padding:10px 20px 10px 10px;
    color:var(--secondary);
    letter-spacing: 1px;
}
.searchbar>.icon>i{
    position: absolute;
    right:1px;
    top:8px;
    color:var(--green);
    font-size: 25px;
    cursor: pointer;
}
.searchbar>.icon>i:hover{
   transform: scale(0.8);
}